body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	background: #c5c5c5;
    color: #000;
	margin: 0;
	background: url(/images/bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.logospace{
	background: transparent;
	width: 95%;
	margin: auto;
}

@media (hover:none) {
    .logoa{
		text-decoration: none;
		display: block;
		width: 50%;
	}

	.head{
		font-size: 2em;
		text-align: center;
		font-family: helvetica, arial, sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		cursor: default;
	}
	
	.articleimgl{
		width: 95%;
		float: center;
		user-select: none;
		border: 4px solid #000;
		border-right: 11px solid transparent;
	}

	.articleimgr{
		width: 95%;
		float: center;
		border: 4px solid #000;
		border-left: 11px solid transparent;
	}
}

@media (hover) {
	.logoa{
		text-decoration: none;
		display: block;
		width: 25%;
	}

	.head{
		font-size: 3em;
		text-align: center;
		font-family: helvetica, arial, sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		cursor: default;
	}
	
	.articleimgl{
		width: 25%;
		float: left;
		user-select: none;
		border: 4px solid #000;
		border-right: 11px solid transparent;
	}

	.articleimgr{
		width: 25%;
		float: right;
		user-select: none;
		border: 4px solid #000;
		border-left: 11px solid transparent;
	}
}

.logoimg{
    width: 100%;
}

nav{
    width: 95%;
	margin: auto;
}

.navul{
    width: 100%;
    height: 10%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #f0f;
	border-radius: 10px;
    border: 4px solid #000;
}

.navli{
    float: left;
}

.navli .nava{
    display: block;
    color: #000;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

.navli .nava:hover{
    display: block;
    color: #fff;
    background: #000;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

.navlir{
    float: right;
}

.navlir .navar{
    display: block;
    color: #000;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

.navlir .navar:hover{
    display: block;
    color: #fff;
    background: #000;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

.active{
    display: block;
    color: #f0f;
    background: #000;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

.main{
	width: 90%;
	margin: auto;
	background: #fff;
	border: 4px solid #000;
	border-top: none;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.lp{
	margin-left: 1%;
	margin-right: 10%;
	text-align: left;
}

.rp{
	margin-left: 10%;
	margin-right: 1%;
	text-align: right;
}

.lul{
    list-style-type: none;
    text-align: right;
}

.lli{
    margin-left: 1.5%;
}

.rul{
    list-style-type: none;
    text-align: right;
}

.rli{
    margin-right: 1.5%;
}

.cp{
	margin-left: 1%;
	margin-right: 1%;
    text-align: center;
}

::selection{
	background: #000;
	color: #f0f;
}

::-moz-selection{
	background: #000;
	color: #f0f;
}

::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track{
	background: #555;
}

::-webkit-scrollbar-thumb{
	background: #000;
}

::-webkit-scrollbar-thumb:hover{
	background: #212121;
}